# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
volumes/
*.pyc
.DS_Store
app.log
uploads/
indices/
models/
backend/.python-version
backend/config.json

# frontend
!frontend/.env
frontend/.env.local
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/dist/
frontend/tsconfig.tsbuildinfo
node_modules/